<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.png', height: 50, alt: 'Segware Upvote'}"
            [navbarBrandMinimized]="{src: 'assets/img/brand/logo-icone.png', height: 50, alt: 'Segware Upvote'}"
            [sidebarToggler]="'lg'"
            [asideMenuToggler]="'lg'">

    <ul class="nav navbar-nav ml-auto">
    </ul>
</app-header>

<div class="app-body">

    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumb></app-breadcrumb>
        </ol>

        <div class="container-fluid mt-2">
            <router-outlet></router-outlet>
        </div>

    </main>

</div>
<app-footer>
    <span>Segware Upvote &copy; 2021.</span>
    <span class="ml-auto">Gerenciado por <a href="https://segware.com/" target="blank">Segware</a></span>
</app-footer>
